body {
	-webkit-user-select: none;
}
.explore-btn {
	background-color: #808c4e4f;
	border-radius: 25px;
}
/* .explore-btn:hover {
	background-color: #4f5b5978;
} */
.explore-down {
	vertical-align: middle;
}
.explore-down:hover {
	color: #fff;
}
.bg-dark-green {
	background-color: #0e2222;
}
.color-dark-green {
	color: #0e2222;
}
.bg-light-green {
	background-color: #7f8d45 !important;
}
